body{
    
    height: 2000px;
    margin: 0 auto;
    overflow-x: hidden;
    background-image: linear-gradient(#15161b ,#2b2d3a );
}

@keyframes opacity{
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(-50);
        opacity: 1;
    }
}

#Log{
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
}

.List{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    margin-left: 225px;
    color: white;


}

.Botão{
    background-color: transparent;
    color: white;
    margin-left: 108px;
    font-family: Decker;
    font-size: 25px;
    border: none;
    outline: none;
}
.Botão:hover{
    cursor: pointer;
    color: #e4e100;
}
#Upload{
    position: relative;
    margin-left: 70px;
}
#Upload:hover{
    cursor: pointer;
}
#Carz{
    position: relative;
    margin-left: 10px;
    background-color: #555b77;
    border-radius: 5px;
    align-items: center;
}
#img-prom{
    animation-name: opacity;
    animation-duration: 2s;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

}

.button{
    position:absolute ;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    top: 0;
    right: 0;
}

.sectionOrigin{
    flex-direction: row;
    background-color: #4b4f64;
    position: absolute;
    width: 400px;
    height: 0px;
    right: 8%;
    top: 11.5%;
    color: white;
    font-size: 25px;
    font-family: Decker;
    overflow: scroll;
    text-align: center;
    overflow-x: hidden;
    border: 2px solid #15161b;
}
.sectionOrigin:hover{
    width: 400;
    height: 300px;
}


.Carrinho{
    position: absolute;
    left: 26%;
    top: 7%;
}

.Conteudo{
    position: absolute;
    width: 542px;
    height: auto;
    top: 25%;
    left: 10%;
    overflow: hidden;
    
}
#Nome{
    width: 100%;
    position: relative;
    color:white;
    font-family: All the Way to the Sun;
    text-align: center;
}

#Preço{
    width: 100%;
    position: relative;
    color: rgb(255, 208, 0);
    font-family: Decker;
    text-align: center;
    font-size: 28px;
}
#conteudo2{
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}
#IMG{
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}
#IMG:hover{
    
    
    transform: scale(1.1);
    transition: 1s linear;
    
}
#Seleções{
    width: 500px;
    height: auto;
    align-items: center;
}
#sessão1{
    position: absolute;
    top: 22%;
    left: 42%;
}
#sessão2{
    position: absolute;
    top: 34%;
    left: 42%;
}

#sessão3{
    position: absolute;
    top: 48%;
    left: 42%;
}
#s-cor{
    font-size: 23px;
    font-family: Decker;
    color: white;
}

#Select-Cor{
    width: 500px;
    height: 50px;
    background-color: #4b4f64;
    border-radius: 10px;
    font-size: 20px;
    font-family: Decker;
    color: white;
}

#Quantidade{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
#Comprar{
    width: 150px;
    height: 40px;
    background-color: #555b77;
    color: white;
    font-size: 22px;
    font-family: Decker;
    position: absolute;
    margin-top: 35px;
    left: 35%;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
}
#Comprar:hover{
    background-color: #3b3d4e;
    cursor: pointer;
    transition: linear 0.5s;
}

#Reco{
    font-family: Decker;
    color: white;
    transform: translateX(79%);
    margin-top: 100px;
}

#produto1{
    margin-top: 50px;
    transform: translateX(500%);
    width: 300px;
    height: 320px;
    object-fit: contain;
    background-color: #4b4f64;
    border: solid 1px rgb(255, 217, 0);
}
#produto2{
    transform: translateX(500%);
    width: 300px;
    height: 320px;
    object-fit: contain;
    background-color: #4b4f64;
    border: solid 1px rgb(255, 217, 0);
}
#produto3{
    transform: translateX(500%);
    width: 300px;
    height: 320px;
    object-fit: contain;
    background-color: #4b4f64;
    border: solid 1px rgb(255, 217, 0);
}
#photo{
    display: block;
    width: 250px;
    height: 270px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0  auto;
}

#Coração{
    margin-top: 8px;
}
#search{
    margin-left: 70px;
    width: 380px;
    height: 35px;
    font-size: 20px;
}

#Proucurar{
    
    background-color: #4b4f64;
}


