body{
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
}

.Armazenado{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 0 auto;
    width: 100%;
    height: 300px;
    background-color: #ff9920;
    box-shadow: black 0px 0px 0px 5px ;
}
.Nome{
    margin-left: 25px;
    color: white;
    font-size: 20px;
    font-family: Decker;
    margin-top: 50px;
}
label{
    position: absolute;
    top: 75%;
    left: 48%;
    width: 250px;
    height: 40px;
    background-color: white;
    color: black;
    font-family: Decker;
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    border-color: #ff8a37;
    
}
label:hover{
    cursor: pointer;
    background-color: rgb(255, 131, 42);
    border-color: white;
    transition: linear 0.2s;
    color: white;
}
.aviso{
    position: absolute;
    margin-top: 275px;
    left: 50%;
    color: white;
}
.p-Descrição{
    margin-left: 50px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
    font-family: Decker;
}
.Descrição{
    width: 300px;
    height: 150px;
    resize: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    margin-bottom: -135px;
    margin-left: 5px;
}
#Subimit{
    position: absolute;
    margin-top: 150px;
    width: 100px;
    color: brown;
}
.Name-post{
    color: white;
    font-family: Decker;
    text-align: center;
    height: 30px;
    background-color: rgb(255, 126, 20);
    margin-top: 0;
}
.sec{
    position: relative;
    transform: translateX(-50%);
    transform: translateY(90%);
    width: 300px;
    height: 300px;
    background-color: rgb(179, 179, 179);
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    border: 1px solid rgb(15, 15, 15);
}
.Preço{
    margin-top: 160px;
    text-align: center;
    color: white;
    font-family: Decker;
    width: 100%;
    height: 110px;
    background-color: rgb(255, 126, 20);
}
.Desc{
    margin-top: 15px;
    font-size: 15px;    
}
.img{
    margin-top: -20px;
    position: absolute;
    width: 300px;
    height: 165px;
}

.pagB{
    position: absolute;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
}
.pagB:hover{
    cursor: pointer;
    border: none;
    
}
.button{
    position:relative ;

    left: 0;
}
.sectionOrigin{
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(73, 73, 73);
    position: absolute;
    width: 400px;
    height: 300px;
    right: 0px;
    top: 0;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Decker;
    overflow: scroll;
    text-align: center;
}


.Carrinho{
    position: absolute;
    left: 26%;
    top: 7%;
}
.carSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(54, 54, 54);
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.carName{
    color: black;
    text-align: center;
    margin-left: 10px;
    margin-top: 40px;
}
.carPreço{
    color: black;
    margin-left: 10px;
    margin-top: 40px;
    background-color:rgb(255, 126, 20);
    color: white;
    height: 20px;
    border: 1px solid rgb(29, 29, 29);
    border-radius: 20px;
}
.carIMG{
    flex-direction: row;
    position: relative;
    width: 170px;
    height: 100px;
    margin-top: 0;
    top: 0;
    border-right: 1px solid rgb(255, 126, 20);
}

.button2{
    position: absolute;
    background-color: transparent;
    color: black;
    font-family: Decker;
    font-size: 20px;
    height: 20px;
    left: 45%;;
    border: 0;
}

.button2:hover{
    cursor: pointer;
    color: red;
}