@keyframes opacity {
    from{
        opacity: 0,
    }
    to{
        opacity: 1;
    }
}


body{
    background-color: rgb(245, 245, 245);
}


.Nome{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Decker;
    

}

label{
    position: absolute;
    margin-top: 180px;
    margin-left: 6%;
    width: 250px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-family: Decker;
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    border-color: #ff8a37;
    
}

label:hover{
    cursor: pointer;
    background-color: rgb(255, 131, 42);
    border-color: white;
    transition: linear 0.2s;
    color: white;
}

.aviso{
    margin-top: 260px;
    margin-left: 8.3%;
    color: red;
}

.p-Descrição{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Decker;

}

.Descrição{
    width: 300px;
    height: 150px;
    resize: none;
    outline: none;
    background-color: rgb(211, 211, 211);
    margin-bottom: -135px;
    margin-left: 5px;
    
}

#Subimit{
    position: absolute;
    margin-top: 150px;
    width: 100px;
    color: brown;
}

.Name-post{
    color: white;
    font-family: Decker;
    text-align: center;
    height: 30px;
    background-color: rgb(255, 126, 20);
    margin-top: 0;
}

.sec{
    position: relative;
    transform: translateX(-50%);
    transform: translateY(40%);
    width: 300px;
    height: 300px;
    background-color: rgb(179, 179, 179);
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
    border: 1px solid rgb(15, 15, 15);

}

.Preço{
    margin-top: 160px;
    text-align: center;
    color: white;
    font-family: Decker;
    width: 100%;
    height: 110px;
    background-color: rgb(255, 126, 20);

}

.Desc{
    margin-top: 15px;
    font-size: 15px;
    
}

.img{
    margin-top: -20px;
    position: absolute;
    width: 300px;
    height: 165px;
}

