
    <html>
    <head>

        <title>
            Mini E-comerce
        </title>
        <link rel="stylesheet" href="/CSS/pagProdutos.css">
    </head>

    <body id="Body">
        
        <form action="/" method="GET"><input type="image" id="Log" src="/static/IMG/1.png" alt="Submit" width="180" height="105" /></form>


        <div class="List">
            
            
            <form action="/"><button class="Botão">Inicio</button></form>
            <form action="/"><button class="Botão">Favoritos</button></form><img src="/static/IMG/Icons/Hearth.png" id="Coração" width="23px" height="20px"/>
            <form action="/"><button class="Botão">Promoções</button></form>

            <input type="text" id="search" name="search" placeholder="Pesquisar"/><input  type="image" id="Proucurar" alt="Submit" src="/static/IMG/Icons/Lupa.png" width="35px" height="35px"/>
            <form action="/cadastro" method="GET"><input type="image"  src="/static/IMG/Icons/Upload.png" id="Upload" alt="Submit" width="40" height="30"> </form>
        <img src="/static/IMG/Icons/Carrinho.png" width="30px" height="30px" id="Carz" onclick="Carrin()"/>
        </div>


        


 




        <div class="Conteudo">
            
           <div id="conteudo2"> <img src="/{{Image}}" width="542" height="542" id="IMG"<br></div>
            <h1  id="Nome">{{nome}}</h1>
            <h2 id = "Preço">R${{Preço}}</h2>

        </div>
        <div class="Seleções">
            <div id="sessão1">
                <p id="s-cor">Selecionar cor</p>
                    <select name="Cor" id="Select-Cor">
                        <option>Branco</option>
                        <option>Preto</option>
                    </select>
            </div>

            <div id="sessão2">
                <p id="s-cor">Selecionar tamanho</p>
                    <select name="Tamanho" id="Select-Cor">
                        <option>PP</option>
                        <option>P</option>
                        <option>M</option>
                        <option>G</option>
                        <option>GG</option>
                        <option>XGG</option>
                        <option>G1</option>
                        <option>G2</option>
                    </select>
            </div>

            <div id="sessão3">
                <p id="s-cor">Quantidade</p>
                    <input placeholder="Quantidade"  type="number" id="Quantidade"
            </div>
            <br>

            <input type="button" alt="Subimit" value="Comprar" id="Comprar"/>
            

            

        </div>
        <div class="Recomendações">
        <div>
            <h1 id="Reco">Produtos semelhantes</h1>
            <div id="produto1">
                <img id="photo" src="/static/IMG/Icons/default-img.png" S/>  
            </div>
            <div id="produto2">
                <img id="photo" src="/static/IMG/Icons/default-img.png" S/>  
            </div>
            <div id="produto3">
                <img id="photo" src="/static/IMG/Icons/default-img.png" S/>  
            </div>
        </div>
        </div>


 



            <section class="sectionOrigin" id="sectionOrigin">
                <p>Carrinho</p> <img src="/static/IMG/Icons/Carrinho.png" height="25px" width="25px" class="Carrinho">
            </section>

            
    </body>
    <script src="/js/Script.js"></script>
</html>