


    <html>
    <head>
        <link rel="stylesheet" href="/CSS/Sucesso.css">
        <link rel="shortcut icon" href="/static/IMG/1.png">
        <title>
            Mini E-comerce
        </title>
    </head>

    <body id="Body">
        

        <section id="Quadro">
            <img src="/static/IMG/1.png" id="Image"/>
            <h1 id="mss">Sua ação foi executada com sucesso</h1>
            <a href="/" id="voltar">Voltar a pagina inicial</a>
        </section>
    </body>


    <script src="../js/Script.js"></script>
</html>